section {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 600;
}